[submodule "pk-decrypt"]
	path = pk-decrypt
	url = https://github.com/fahmifj/PortableKanban-decrypt
[submodule "php-zerodium"]
	path = php-zerodium
	url = https://github.com/fahmifj/php-8.1.0-dev-zerodium-rce
[submodule "infosec-ctf/activedirectory-scripts"]
	path = infosec-ctf/activedirectory-scripts
	url = https://github.com/fahmifj/activedirectory-scripts
